#troll {
  background-image: url(http://pluspng.com/img-png/meme-png-troll-face-meme-png-png-image-200.png);
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  width:250px;
  height:250px;
  top:100px;
  left:100px;
}
